.section {
	padding-top: 40px;
	padding-bottom: 50px;
	
	&--sm-p-t-50 {
		padding-top: 50px;		
	}
	
	&--lg-p-b-55 {
		
		@media (min-width: 1170px) {
			padding-bottom: 55px;							
		}		
	}

	@media (min-width: 1170px) {
		padding-top: 70px;			
		padding-bottom: 70px;	
	}

	&--lg-p-b-90 {

		@media (min-width: 992px) {
			padding-bottom: 90px;				
		}		
	}
	
	&--p-t-70 {

		@media (min-width: 768px) {
			padding-top: 70px;				
		}
	}

	&--md-p-b-100 {

		@media (min-width: 768px) {
			padding-bottom: 100px;				
		}
	}	
}
	
/* 	&--m-p-b-50 {
	
	@media (min-width: 992px) {
		padding-bottom: 50px;
	}
} */
