/*  Block logo  */
.logo {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  .logo {
    padding-top: 30px;
  }
}
.logo__title {
  font-size: 33px;
  line-height: 1.5;
  color: #000;
  font-weight: 700;
  letter-spacing: 5.5px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo__title {
    font-size: 38px;
    letter-spacing: 7px;
  }
}
.logo__subtitle {
  font-size: 14px;
  line-height: 1;
  color: #a1bbd9;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo__subtitle {
    font-size: 16px;
    letter-spacing: 9px;
  }
}
/*  //Block logo  */
/*  navigation  */
.mobile-navigation {
  background-color: #38383A;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  box-shadow: 0px 5px 10px 0px #2a496d;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
@media (min-width: 992px) {
  .mobile-navigation {
    position: relative;
  }
}
@media (min-width: 992px) {
  .mobile-navigation {
    background-color: #38383A;
    padding-top: 23px;
    padding-bottom: 23px;
  }
}
.mobile-navigation a {
  color: #FFF;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 22px;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .mobile-navigation a {
    padding: 0;
    display: inline;
  }
}
.mobile-navigation a:hover,
.mobile-navigation a.active {
  color: #ffcc00;
}
.mobile-navigation .mobile-navigation__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
  background-color: #35577D;
}
@media (min-width: 992px) {
  .mobile-navigation .mobile-navigation__list {
    display: flex;
    background-color: transparent;
  }
}
.mobile-navigation .mobile-navigation__list-item {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #466a92;
}
@media (min-width: 992px) {
  .mobile-navigation .mobile-navigation__list-item {
    border-bottom: none;
    padding: 0;
  }
}
.mobile-navigation .mobile-navigation__list-item.active {
  color: #ffcc00;
}
.mobile-navigation .mobile-navigation__list-item:last-child {
  border-bottom: none;
}
.navigation__toggle-button {
  display: block;
  position: relative;
  cursor: pointer;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #38383A;
}
.navigation__toggle-button:before {
  content: "";
  position: absolute;
  top: 23px;
  right: 15px;
  width: 25px;
  height: 20px;
  background: url('../img/icons/navigation-icon.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.navigation__toggle-button:focus,
.navigation__toggle-button:active {
  background-color: #16385F;
}
@media (min-width: 992px) {
  .navigation__toggle-button {
    display: none;
  }
}
.navigation__toggle-button--active {
  background-color: #16385F;
  box-shadow: 0px 5px 10px 0px #2a496d;
}
.container--mobile--no-padding {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}
@media (min-width: 992px) {
  .container--mobile--no-padding {
    padding-left: 15px;
    padding-right: 15px;
    width: 970px;
  }
}
@media (min-width: 1170px) {
  .container--mobile--no-padding {
    width: 1170px;
  }
}
/*  // navigation  */
.slider {
  background-color: #2b5286;
  padding-top: 100px;
  padding-bottom: 127px;
  background-image: url('../img/bg/slider-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 3px 25px 0px #688ab3;
}
.slider__title {
  font-size: 28px;
  line-height: 38px;
  color: #FFF;
  letter-spacing: -0.5px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .slider__title {
    font-size: 32px;
    line-height: 42px;
  }
}
.slider__slogan {
  font-family: 'Noto Serif';
  font-size: 18px;
  line-height: 28px;
  color: #cddfe0;
  text-align: center;
}
@media (min-width: 1200px) {
  .slider__slogan {
    font-size: 22px;
    line-height: 32px;
  }
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/
.top-slider-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
.top-slider-theme .owl-controls .owl-buttons div {
  display: none;
  position: absolute;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: left top;
  top: 50%;
  margin-top: -36px;
}
@media (min-width: 768px) {
  .top-slider-theme .owl-controls .owl-buttons div {
    display: block;
  }
}
.owl-prev {
  left: 0;
  background-image: url('../img/icons/arrow-left.png');
}
.owl-next {
  right: 0;
  background-image: url('../img/icons/arrow-right.png');
}
.owl-pagination {
  position: absolute;
  bottom: -62px;
  width: 100%;
}
@media (min-width: 1200px) {
  .owl-pagination {
    display: none;
  }
}
/* Styling Pagination*/
.top-slider-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.top-slider-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}
.top-slider-theme .owl-controls .owl-page.active span,
.top-slider-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
/* If PaginationNumbers is true */
.top-slider-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
/*  base  */
html,
body {
  height: 100%;
  min-width: 320px;
  font-size: 10px;
  line-height: 1.4;
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}
/*============================================*/
.block {
  background: #b2dbbf;
  padding: 20px;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.line {
  border-top: 1px solid #eaeff5;
}
.footer {
  background-color: #252525;
}
/*============================================*/
/*  untils  */
/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
