html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: 'Noto Sans';
}
p {
  font-size: 14px;
  line-height: 24px;
  color: #777;
}
.subtitle_text {
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
  color: #777;
}
/*============================================*/
.line {
  border-top: 1px solid #eaeff5;
}
/*  untils  */
/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.heading {
  color: #333;
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  margin-top: 0;
  position: relative;
}
@media (min-width: 1200px) {
  .heading {
    margin-bottom: 40px;
    font-size: 38px;
  }
}
.heading--smaller-margin {
  margin-bottom: 20px;
}
.heading--number:before {
  margin-bottom: 20px;
  height: 26px;
  width: 26px;
  display: block;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  background-color: #ffc80a;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 700;
  padding-top: 4px;
  padding-left: 9px;
  position: absolute;
  left: -13px;
  top: -40px;
  content: "0";
}
@media (min-width: 1200px) {
  .heading--number:before {
    left: -32px;
    top: -30px;
  }
}
.heading--number-1:before {
  content: "1";
}
.heading--number-2:before {
  content: "2";
}
.section {
  padding-top: 60px;
  padding-bottom: 50px;
}
@media (min-width: 1170px) {
  .section {
    padding-bottom: 70px;
    padding-right: 0;
    padding-left: 0;
  }
}
.section--p-t-70 {
  padding-top: 70px;
}
@media (min-width: 992px) {
  .section--m-p-b-0 {
    padding-bottom: 0;
  }
}
.plans {
  text-align: center;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);
  padding-top: 34px;
  padding-bottom: 47px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 40px;
}
.plans.last {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .plans {
    margin-bottom: 0;
  }
}
.package__type {
  font-size: 12px;
  letter-spacing: 1px;
  color: #242526;
  margin-bottom: 23px;
  text-transform: uppercase;
}
.package__price {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
}
.package__price:after {
  content: "c";
  font-family: 'als_rublregular';
}
.package__period {
  color: #242526;
  font-size: 12px;
  margin-bottom: 40px;
  font-weight: 700;
}
.package__benefits {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
}
.package__benefits ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.package__benefits ul li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.package__benefits ul li:before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/ok-icon.png");
  background-repeat: no-repeat;
  background-position: left 3px;
  display: inline-block;
  margin-right: 10px;
}
.button {
  background-color: #252525;
  box-shadow: 0px 8px 16px 0px rgba(171, 171, 171, 0.6);
  letter-spacing: 1px;
  font-size: 14px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 44px;
  padding-right: 44px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  font-weight: 700;
  cursor: pointer;
}
.button:hover,
.button:active,
.button:focus {
  background-color: #ffc80a;
  text-decoration: none;
  color: #fff;
}
.button--orange {
  background-color: #ffc80a;
  padding-left: 30px;
  padding-right: 30px;
}
.button--orange:hover,
.button--orange:active,
.button--orange:focus {
  background-color: #fff10a;
  text-decoration: none;
  color: #000;
}
/*  Block logo  */
.logo {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  .logo {
    padding-top: 30px;
  }
}
.logo__title {
  font-size: 33px;
  line-height: 1.5;
  color: #000;
  font-weight: 700;
  letter-spacing: 5.5px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo__title {
    font-size: 38px;
    letter-spacing: 7px;
  }
}
.logo__subtitle {
  font-size: 14px;
  line-height: 1;
  color: #a1bbd9;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo__subtitle {
    font-size: 16px;
    letter-spacing: 9px;
  }
}
/*  //Block logo  */
/*  navigation  */
.mobile-navigation {
  background-color: #38383A;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  box-shadow: 0px 5px 10px 0px #2a496d;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
@media (min-width: 992px) {
  .mobile-navigation {
    position: relative;
  }
}
@media (min-width: 992px) {
  .mobile-navigation {
    background-color: #38383A;
    padding-top: 23px;
    padding-bottom: 23px;
  }
}
.mobile-navigation a {
  color: #FFF;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 22px;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .mobile-navigation a {
    padding: 0;
    display: inline;
  }
}
.mobile-navigation a:hover,
.mobile-navigation a.active {
  color: #ffcc00;
}
.mobile-navigation .mobile-navigation__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
  background-color: #35577D;
}
@media (min-width: 992px) {
  .mobile-navigation .mobile-navigation__list {
    display: flex;
    background-color: transparent;
  }
}
.mobile-navigation .mobile-navigation__list-item {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #466a92;
}
@media (min-width: 992px) {
  .mobile-navigation .mobile-navigation__list-item {
    border-bottom: none;
    padding: 0;
  }
}
.mobile-navigation .mobile-navigation__list-item.active {
  color: #ffcc00;
}
.mobile-navigation .mobile-navigation__list-item:last-child {
  border-bottom: none;
}
.navigation__toggle-button {
  display: block;
  position: relative;
  cursor: pointer;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #38383A;
}
.navigation__toggle-button:before {
  content: "";
  position: absolute;
  top: 23px;
  right: 15px;
  width: 25px;
  height: 20px;
  background: url('../img/icons/navigation-icon.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.navigation__toggle-button:focus,
.navigation__toggle-button:active {
  background-color: #16385F;
}
@media (min-width: 992px) {
  .navigation__toggle-button {
    display: none;
  }
}
.navigation__toggle-button--active {
  background-color: #16385F;
  box-shadow: 0px 5px 10px 0px #2a496d;
}
.container--mobile--no-padding {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .container--mobile--no-padding {
    padding-left: 15px;
    padding-right: 15px;
    width: 970px;
  }
}
@media (min-width: 1170px) {
  .container--mobile--no-padding {
    width: 1170px;
  }
}
/*  // navigation  */
.slider {
  background-color: #2b5286;
  padding-top: 100px;
  padding-bottom: 127px;
  background-image: url('../img/bg/slider-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 3px 25px 0px #688ab3;
}
.slider__title {
  font-size: 28px;
  line-height: 38px;
  color: #FFF;
  letter-spacing: -0.5px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .slider__title {
    font-size: 32px;
    line-height: 42px;
  }
}
.slider__slogan {
  font-family: 'Noto Serif';
  font-size: 18px;
  line-height: 28px;
  color: #cddfe0;
  text-align: center;
}
@media (min-width: 1200px) {
  .slider__slogan {
    font-size: 22px;
    line-height: 32px;
  }
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/
.top-slider-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
.top-slider-theme .owl-controls .owl-buttons div {
  display: none;
  position: absolute;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: left top;
  top: 50%;
  margin-top: -36px;
}
@media (min-width: 768px) {
  .top-slider-theme .owl-controls .owl-buttons div {
    display: block;
  }
}
.owl-prev {
  left: 0;
  background-image: url('../img/icons/arrow-left.png');
}
.owl-next {
  right: 0;
  background-image: url('../img/icons/arrow-right.png');
}
.owl-pagination {
  position: absolute;
  bottom: -62px;
  width: 100%;
}
@media (min-width: 1200px) {
  .owl-pagination {
    display: none;
  }
}
/* Styling Pagination*/
.top-slider-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.top-slider-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}
.top-slider-theme .owl-controls .owl-page.active span,
.top-slider-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
/* If PaginationNumbers is true */
.top-slider-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
.benefit-block {
  padding-bottom: 38px;
}
.benefit-block:last-child {
  padding-bottom: 0;
}
@media (min-width: 762px) {
  .benefit-block:nth-last-child(2) {
    padding-bottom: 0;
  }
  .benefit-block:last-child {
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .benefit-block {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.benefit-block__img {
  height: 130px;
  margin-bottom: 18px;
  display: table;
  width: 100%;
}
@media (min-width: 1200px) {
  .benefit-block__img {
    margin-bottom: 20px;
  }
}
.benefit-block__img div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.benefit-block__img img {
  display: inline-block;
}
.benefit-block__header {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .benefit-block__header {
    font-size: 22px;
    line-height: 28px;
  }
}
.benefit-block__text {
  font-size: 14px;
  line-height: 24px;
  color: #777;
}
.col-sm-6-tx {
  padding-top: 30px;
}
.service-description__img--xs-m-b-20 {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .service-description__img--xs-m-b-20 {
    margin-bottom: 0;
  }
}
.service-description__content {
  font-size: 14px;
  line-height: 24px;
  color: #777;
}
.service-description__content p {
  margin-top: 0;
  margin-bottom: 22px;
}
.service-description__button-arrow {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../img/icons/arrow-orange.png");
  background-repeat: no-repeat;
  background-position: left top;
}
.footer {
  background-color: #252525;
  color: #6C6C6C;
}
.footer p {
  color: #6C6C6C;
}
.footer__title {
  color: #F7F8F9;
  font-size: 12px;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
.footer__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  color: #6C6C6C;
  margin-bottom: 57px;
}
.footer__nav li {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
.footer__nav a {
  color: #6C6C6C;
  text-decoration: none;
}
.footer__nav a:hover {
  color: #ffc80a;
  text-decoration: none;
}
